@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* ## Colors */

    /* ### Primary */

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* ### Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* ## Typography */

    /* ### Body Copy */

    --Font-size: 18px;

}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    color: var(--Grayish-Blue);
}

h1, h2, h3, h4, h5{
    color: var(--Dark-Blue);
    font-weight: 400;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background: linear-gradient(to right, var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
}
.btn-primary:hover{
    background: linear-gradient(to right, var(--Lime-Green) 70%,var(--Bright-Cyan));
    color: var(--White);
}

header{
    position: relative;
    z-index: 5;
    background: var(--White);
}

header, .section{
    display: flex;
    justify-content: center;
    align-items: center;
}



nav, .container{
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--Grayish-Blue);
    display: block;
    padding: 2rem 0;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    
}
.nav-link:hover{
    border-bottom: 2px solid var(--Lime-Green);
}

.section:not(:first-child){
    padding: 6rem 0;
}

.section h2{
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
}


/* ============ Hero Section =========== */
.section__hero{
    background: var(--Very-Light-Gray);
    max-height: 600px;
}

.section__hero .container{
    display: flex;
    align-items: center;
}
.section__hero-img{
    position: relative;
    flex: 1;
    width: 50%;
}
.section__hero-img picture{
    position: absolute;
    height: 100%;
    margin-left: 4rem;
    top:  -150px;
    left: -150px;
    z-index: 2;
}
.section__hero-img > img{
    position: relative;
    height: 100%;
    margin-left: 4rem;
    z-index: 3;
}

.section__hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-right: 2rem;
}
.section__hero-text h1{
    font-size: 3.5rem;
}
.section__hero-text p{
    line-height: 1.85rem;
}
.section__hero-text .btn{
    width: fit-content;
}



/* ============ Why Chose Us =============== */
.section__wcu{
    background: var(--Light-Grayish-Blue);
}
.section__wcu--copy{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin-bottom: 4.5rem;
}

.section__wcu-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}
.section__wcu-item{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}
.section__wcu-item p{
    line-height: 1.65rem;
}


/* ============ Articles =============== */
.section__articles{
    background: var(--Very-Light-Gray);
}
.articles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}

.article{
    border-radius: 0.5rem;
    overflow: hidden;
}
.article, .article--content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--White);
}

.article img{
    width: 100%;
    height: 187px;
}

.article--content{
    padding: 2rem;
}
.article--content p{
    line-height: 1.35rem;
}

.article h5{
    font-size: 0.7rem;
}
.article h4{
    transition: all .4s;
}
.article h4:hover{
    color: var(--Lime-Green);
    cursor: pointer;
}
.article p{
    font-size: 0.95rem;
}


/* ============ Footer =============== */
footer{
    background: var(--Dark-Blue);
}

footer .section{
    padding: 3rem 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
}

.logo__socials, .footer_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-links{
    display: flex;
    gap: 0.75rem;
}

.footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer-links a{
    color: var(--White);
    text-decoration: none;
    transition: all .3s;
}
.footer-links a:hover{
    color: var(--Lime-Green);
}

.copyright{
    color: var(--Grayish-Blue);
}

