*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* ## Colors */

    /* ### Primary */

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    /* ### Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* ## Typography */

    /* ### Body Copy */

    --Font-size: 18px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.btn{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.btn-primary{
    background: linear-gradient(to right, var(--Lime-Green),var(--Bright-Cyan));
    color: var(--White);
}

header{
    position: relative;
    z-index: 5;
    background: var(--White);
}

header, .section{
    display: flex;
    justify-content: center;
    align-items: center;
}



nav, .container{
    max-width: 1200px;
    padding: 0 1rem;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 2rem;
}
.nav-link{
    text-decoration: none;
}

.section:not(:first-child){
    padding: 4rem 0;
}
.section__hero{
    background: var(--Very-Light-Gray);
    max-height: 600px;
}

.section__hero .container{
    display: flex;
    align-items: center;
}
.section__hero-img{
    position: relative;
    flex: 1;
    width: 50%;
}
.section__hero-img picture{
    position: absolute;
    height: 100%;
    margin-left: 4rem;
    top:  -150px;
    left: -150px;
    z-index: 2;
}
.section__hero-img > img{
    position: relative;
    height: 100%;
    margin-left: 4rem;
    z-index: 3;
}

.section__hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-right: 2rem;
}
.section__hero-text h1{
    font-size: 3rem;
}
.section__hero-text .btn{
    width: fit-content;
}

